{% extends 'flatpages/default.html' %}

{% load custom_filters %}
{% load custom_tags %}

{% block title %}
Category
{% endblock title %}

{% block content %}
<h1>Категории:</h1>

{% if category_list %}

<table>
    <tr>
        <td></td>
        <td></td>
        <td></td>
    </tr>

    {% for cat in category_list %}
    <tr>
        <td width="5%">
            <a class="btn">{{ cat.id }} </a>
            <hr>
        </td>
        <td align="left" width="50%">
            <a class="btn" href="/news/?categories={{ cat.id }}"> {{ cat }} </a>
            <hr>
        </td>
        <td width="10%">
            {% if cat in user_subscriber %}
                <a class="btn" href="{{ cat.id }}/unsubscribe">✔</a>
            {% else %}
                <a class="btn" href="{{ cat.id }}/subscribe">Подписаться</a>
            {% endif %}
{#            <hr>#}
        </td>
    </tr>
    {% endfor %}
</table>
{% else %}
<h2>Категорий нет!</h2>
{% endif %}


{# Добавляем пагинацию на страницу #}

{# Переход к 1 странице #}
<a href="?{% url_replace page=1 %}"> << </a>

{% if page_obj.has_previous %}
{# Для каждой ссылки пагинации указываем обработку через новый тег #}
<a href="?{% url_replace page=1 %}">1</a>
{% if page_obj.previous_page_number != 1 %}
...
<a href="?{% url_replace page=page_obj.previous_page_number %}">{{ page_obj.previous_page_number }}</a>
{% endif %}
{% endif %}

{{ page_obj.number }}

{% if page_obj.has_next %}
<a href="?{% url_replace page=page_obj.next_page_number %}">{{ page_obj.next_page_number }}</a>
{% if paginator.num_pages != page_obj.next_page_number %}
...
<a href="?{% url_replace page=page_obj.paginator.num_pages %}">{{ page_obj.paginator.num_pages }}</a>
{% endif %}
{% endif %}

{# Переход к последней странице #}
<a href="?{% url_replace page=page_obj.paginator.num_pages %}"> >> </a>

{% endblock content %}

